* {
    font-family: 'Noto Sans', sans-serif;
}

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, .5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 15rem !important;
    min-height: 15rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

a>i {
    color: white;
}

#banner:before {
    -moz-transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s ease;
    -ms-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
    background: #111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner:after {
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: .45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner>.inner {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    position: absolute;
    z-index: 3;
}

@media only screen and (min-width: 1000px) {
    .content>p {
        margin-right: 25%;
        margin-left: 25%;
    }
}

@media only screen and (min-width: 1500px) {
    .content>p {
        margin-right: 15%;
        margin-left: 15%;
    }
}

.inner {
    margin: 0 auto;
    width: 200rem;
    max-width: calc(100% - 6rem);
}

.home-inner {
    margin: 1em auto 1em auto;
    max-width: 80%;
}

#banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #fff;
}

#banner>.inner> :last-child {
    margin-bottom: 0;
    font-weight: 700;
    color: #f5f5f5;
}

.center {
    text-align: center;
}

#banner p {
    font-size: 1.5rem;
}

.wrapper {
    padding: 2rem 0 2rem 0;
    position: relative;
    z-index: 1;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: none;
}

.bg-dark {
    background-color: rgba(17, 17, 17, 0.97) !important;
}

.card {
    background-color: rgba(0, 0, 0, .03);
    margin: 1em 0em;
}

.card-header {
    background-color: transparent !important;
}

.accordion>.card {
    background-color: rgba(0, 0, 0, .03);
}

.card-body {
    padding: 0.25rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

#footer {
    background-color: rgba(17, 17, 17, 0.950);
    color: rgba(255, 255, 255, 0.877);
    padding: 2rem 0 2rem 0;
}

#footer .copyright {
    margin-top: 2rem;
    font-size: .75rem;
    opacity: .8;
    padding: 1rem 0;
    text-align: center;
}

.dropdown-menu {
    background-color: rgba(17, 17, 17, 0.582);
}

.dropdown-item {
    color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
    display: block;
}

header.special {
    text-align: center;
    margin-bottom: 4rem;
}

.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: block;
}

.container>div>a>i {
    font-size: 2.5em;
}

.highlights .content {
    background: #fff;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .025);
    border-radius: 4px;
    height: 100%;
    padding: 1.5rem;
    text-align: center;
}

.navbar-toggler {
    border: none !important;
}

.highlights>.content>p {
    width: 50%;
}

.highlights .content .icon {
    font-size: 3rem;
}