* {
    font-family: 'Noto Sans', sans-serif;
}

.plain {
    list-style: none;
}

ul>a {
    color: #212529;
}

#banner {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, .5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 15rem !important;
    min-height: 15rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

div>a>i {
    color: #171717;
    font-weight: 100;
}

.container>div>a>i {
    color: white;
}

.containerCustom {
    display: block !important;
}

#banner:before {
    -moz-transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s ease;
    -ms-transition: opacity 1.5s ease;
    transition: opacity 1.5s ease;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
    background: #111;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .75;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner:after {
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: .45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#banner>.inner {
    position: absolute;
    z-index: 3;
    animation: fadeInLoad 4s;
}

@keyframes fadeInLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 1000px) {
    .content>p {
        margin-right: 25%;
        margin-left: 25%;
    }
}

@media only screen and (min-width: 1500px) {
    .content>p {
        margin-right: 15%;
        margin-left: 15%;
    }
}

.card-header {
    border-bottom: none;
}

.inner {
    margin: 0 auto;
    width: 200rem;
    max-width: calc(100% - 2rem);
}

.home-inner {
    margin: 1em auto 1em auto;
    max-width: 80%;
}

#banner h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
    color: #fff;
}

#banner>.inner> :last-child {
    margin-bottom: 0;
    font-weight: 700;
    color: #f5f5f5;
}

#banner img {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
}

.acustom {
    color: rgba(255, 255, 255, 0.705);
}

.acustom:hover {
    color: white;
}

.center {
    text-align: center;
    word-wrap: break-word;
}

#banner p {
    font-size: 1.5rem;
}

.wrapper {
    padding: 2rem 0 2rem 0;
    position: relative;
    z-index: 1;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 1);
    border-color: none;
    border:none;
}

.bg-dark {
    background-color: rgba(17, 17, 17, 1) !important;
    font-size: x-large;
}

.icon-large {
    font-size: 30px;
}

.icon-extralarge {
    font-size: 70px;
}

.icon {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.card {
    background-color: rgba(46, 47, 48, 0.05);
    margin: 1em 0em;
}

.card-header {
    background-color: transparent !important;
}

.accordion>.card:first-of-type {
    background-color: rgba(46, 47, 48, 0.05);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion>.card:first-of-type {
    border-bottom: 1px !important;
}

.card-body {
    padding: 0.25rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

body {
    height: 100%;
}

#footer {
    margin-top: 125x;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.877);
    padding: 6rem 0 6rem 0;
}

#footer .copyright {
    margin-top: 2rem;
    font-size: 1rem;
    opacity: .8;
    padding: 1rem 0;
    text-align: center;
}

.dropdown-menu {
    background-color: rgba(17, 17, 17, 0.582);
}

.dropdown-item {
    color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
    display: block;
}

header.special {
    text-align: center;
    margin-bottom: 1rem;
}

.highlights {
    width: 100%;
    margin: 2.5rem 0;
    display: block;
}

.container>div>a>i {
    font-size: 2.5em;
}

.highlights .content {
    background: rgba(161, 161, 161, 0.137);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .08);
    border-radius: 10px;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.highlights>.content>p {
    width: 50%;
}


.hidden {
    display: none;
}

a>p {
    color: black;
}
